/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */


.section__header {
    max-width: 820px;
    margin: 0 auto;
}

body:not(.has-scrollbar) {
    .wrapper-stretched {
        width: 100vw !important;
        margin-left: calc(-50vw + 50%) !important;
        margin-right: calc(-50vw + 50%) !important;
        left: 0 !important;
    }
}

body.has-scrollbar {
    .wrapper-stretched {
        // width: calc(100vw - var(--scroll-bar)) !important;
        width: 100vw !important;
        margin-left: calc(-50vw + 50%) !important;
        margin-right: calc(-50vw + 50%) !important;
        // margin-left: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
        // margin-right: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
    }
}

.wrapper-basic {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;

    @include bp (large) {
        padding-left: 60px;
        padding-right: 60px;
    }
}

.wrapper-xfull {
    max-width: 1860px;
    @extend .wrapper-basic;
}

.wrapper-xfull-retina {
    max-width: 1860px;
    @extend .wrapper-basic;

    @include bp (retina) {
        max-width: 100%;
    }
}

.wrapper-nav {
    max-width: 1860px;
    @extend .wrapper-basic;
}

.wrapper-full {
    max-width: 1680px;
    @extend .wrapper-basic;
}

.wrapper-medium {
    max-width: 1420px;

    @extend .wrapper-basic;
}

.wrapper-small {
    max-width: 1090px;

    @extend .wrapper-basic;
}