/// ------------------------------------
/// Box-shadow for input elements
/// ------------------------------------
@mixin input-shadow($height) {
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 $height $color-primary inset !important;
		-webkit-text-fill-color: $color-text-yellow;
		font-size: 1.5rem !important;
	}
}
