@keyframes animationLoader {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}

.loader-animation {
  width: 30px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
  background: rgba(241, 242, 243, 0);

  &__content {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.3);
    backface-visibility: hidden;
    transform-origin: 0 0;

    div {
      position: absolute;
      width: 60px;
      height: 60px;
      border: 10px solid rgba(10, 10, 10, 0.5);
      border-top-color: transparent;
      border-radius: 50%;
      animation: animationLoader 1s linear infinite;
      top: 50px;
      left: 50px;
      box-sizing: content-box;
    }

  }
}