/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */


h1, h2, h3, h4, h5, h6, .heading-family {
    font-family: $heading-family;
    line-height: 1.2; 
    color: $color-heading;
    font-weight: 400;
}

.text-intro-animation {
    color: $color-heading-yellow;
    font-size: calc(2rem + 1vw);

    @include bp (medium) {
        font-size: 5rem;
    }

    @include bp (large) {
        font-size: 7.5rem;
    }

    @include bp (xlarge) {
        font-size: 9.5rem;
    }

    @include bp (full) {
        font-size: 12rem;
    }

    @include bp (xfull) {
        font-size: 14.5rem;
    }
}

.text-homepage-banner {
    color: $color-heading-yellow;
    font-size: 2.1875rem;

    @include bp (xlarge) {
        font-size: 6.375rem;
    }

    @include bp (full) {
        font-size: 7.5rem;
    }
}

.text-banner { /* 24px */
    font-size: 1.2rem;

    @include bp (xlarge) {
        font-size: 1.5rem;
    }
    
}

.text-header { /* 22px */
    color: $color-heading-yellow;
    font-size: 1rem;
    
    @include bp (xlarge) {
        font-size: 1.25rem;
    }

    @include bp (full) {
        font-size: 1.375rem;
    }

}

.text-header--footer { /* 18px */
    
    @include bp (xlarge) {
        font-size: 1rem;
    }

    @include bp (full) {
        font-size: 1.125rem;
    }
}

.text-subheader {
    font-family: $text-family;
}

.text-intro { /* 16px */
    font-size: 0.9375em;
    
    @include bp (xlarge) {
        font-size: 1rem;
    }
}

.text-regular { /* 15px */
    font-size: 0.75rem;

    @include bp (xlarge) {
        font-size: 0.875rem;
    }

    @include bp (full) {
        font-size: 0.9375rem;
    }
}

.text-small { /* 10px */
    font-size: 0.625rem;  
}



