/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */

:root {
  --scroll-bar: 8px;
}

* {
  box-sizing: border-box;
}

html {
    color: $color-text;
    font-size: 1em; /* [1] */ /* 16px */
    line-height: 1.5; /* [1] */ 
    min-height: 100%; /* [3] */
    overflow-y: scroll; /* [2] */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;

    @include bp(large) {
      line-height: 1.3;
    }

    @include bp(full) {
        font-size: 1em; /* 16px */
    }

  &.lock-scroll {
    @include bp(large) {
      overflow-y: hidden;
    }
  }
}

body {
  font-family: $text-family;
}

.vh {
  @include hidden-visually();
}

p {
  color: $color-text;
}

.thegrove__relative {
  padding-top: 38px;
  position: relative;
  z-index: $z-lvl-12;

  .thegrove__logo {
    position: sticky;
    left: 50%;
    text-align: center;
    z-index: $z-lvl-13;
    margin-bottom: -80px;
    opacity: 0;
    transition: $menu-transition;
    top: 30px;

    @include bp(large) {
      top: unset;
    }
    
    &.is-inview {
      opacity: 1;
    }
  }

  .thegrove__logo__icon {
    width: 135px;

    @include bp(medium) {
      width: 207px;
    }
  }
}

.c-scrollbar {
  z-index: $z-lvl-15;
}
