/* Plus Icon */

.heavy__plus {
    position: relative;
    display: inline-block;
    background: none;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    border: none;
    transition: 0.2s ease-out all 0.2s;
    &:focus {
      outline: none;
    }
    &:before, 
    &:after {
      transition: all .6s cubic-bezier(.46,-.41,.3,1.52) .1s;
    }
    &.open-state {
      transition: all .6s cubic-bezier(.46,-.41,.3,1.52) .1s;
      &:before, 
      &:after {
        transition: all .6s cubic-bezier(.46,-.41,.3,1.52) .1s;
      }    
    }
  }
  .more {
     display: block;
     margin-left: 1rem;
     margin-bottom: 0.2rem;
     position: relative;
     @include bp (large) {
        margin-left: 3rem;
     }
  }
  .more {
    &:before, 
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90%;
      transform: translate(-50%, -50%);
      border-bottom: 1px solid $color-border-yellow;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  .more3 {
    &:after {
      transform: translate(-50%, -50%) rotate(180deg);
    }
    &.open-state {
      &:before {
        transform: translate(-50%, -50%) rotate(0);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(0);
      }
    }
    &.open-state--info {
      &:before {
        transform: translate(-50%, -50%) rotate(0);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(0);
      }
    }
  }
  .heavy__plus--auto {
    margin-left: auto;
    transition: opacity 0.1s ease-in-out;
    @include bp (large) {
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .medium__plus {
    margin-bottom: 0;
    width: 1.2rem;
    height: 1.2rem;
    @include bp (large) {  
      &::before,
      &::after {
        border-bottom-color: $color-border-sage-green;
      }
      &.open-state {
        &::before,
        &::after {
          border-bottom-color: $color-border-yellow;
        }
      }
    }
  }