/* ==========================================================================
   #TYPOGRAPHY & COLORS & FONT WEIGHTS & LINE HEIGHTS
   ========================================================================== */

/**
 * Font Colors
 */

.color-primary {
    color: $color-text;
}

.color-yellow {
    color: $color-text-yellow;
}

.color-sage-green {
    color: $color-text-sage-green;
}


/**
 * Font Weights
 */

// .light {
//     font-family: $text-light;
// } 

// .medium {
//     font-family: $text-family;
// }

// .bold {
//     font-family: $heading-family;
// }


/**
 * Line Heights
 */
.line-lg {
    line-height: 2.33;
}

.line-reset {
    line-height: 1;
}


/**
 * Letter Spacing
 */
.letter-spacing-sm {
    letter-spacing: -1px;
}