// ==========================================================================
// # FOOTER
// ==========================================================================

.footer {
	background-color: $color-primary;
	position: relative;
	z-index: $z-lvl-12;

	@include bp (large) {
		height: 100vh;
	}
}

.footer__the-grove {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);

	@include bp (large) {
		top: 35px;
	}
}

.footer__container {
	padding-top: 100px;
	height: 100%;
	flex-direction: column;
	justify-content: space-around;
	padding-bottom: 40px;
}

.footer__row {
	justify-content: center;

	@include bp (xlarge) {
		justify-content: flex-start;
		margin-top: 20px;
	}

	@include bp (full) {
		margin-top: 0;
	}
}

.footer__form {
	width: 100%;
	margin-bottom: 103.5px;

	@include bp (large) {
		width: 60%;
		margin-bottom: 0;
	}
	
}

// ==========================================================================
// # FORM
// ==========================================================================
.section__form {
	background-color: $color-primary;
	overflow: hidden;
	position: relative;

	@include input-shadow(30px);

	.form__wrapper {
		margin: 0 auto;
	}

	h3 {
		margin-bottom: 60px;
		color: $color-text-yellow;
		text-align: center;

		@include bp(medium) {
			margin-bottom: 70px;
		}

		@include bp (large) {
			text-align: left;
			margin-bottom: 40px;
			
		}

		@include bp (full) {
			margin-bottom: 70px;
		}
	}

	#mc_embed_signup form {
		padding: 0;
	}

	#mc_embed_signup_scroll {
		.form__row {
			display: flex;
			flex-wrap: wrap;
			text-align: center;

			@include bp(medium) {
				justify-content: center;
			}

			@include bp (large) {
				text-align: left;
			}
		}

		.mc-field-group,
		.input {
			width: 100%;
			margin-bottom: 16px;
			padding-bottom: 0 !important;

			@include bp(medium) {
				margin-bottom: 64px;
				width: 70%;
			}

			@include bp (large) {
				margin-bottom: 40px;
				width: 50%;
			}

			@include bp (full) {
				margin-bottom: 64px;
			}
		}

		.mc-field-group {
			position: relative;
			color: $color-text-yellow;

			label {
				color: $color-text-yellow;
			}
		}

		input,
		textarea,
		select {
			outline: 0;
			text-align: center;
			border: 0;
			border-bottom: 1px solid $color-border-yellow;
			background-color: transparent;
			width: 100%;
			min-height: 2.7rem;
			font-size: 1.2rem;
			border-radius: 0;
			padding-left: 0;	
			margin-bottom: 0.9rem !important;
			height: 38px;
			text-indent: 0 !important;
			color: $color-text-yellow;

			@include bp (large) {
				text-align: left;
				width: calc(100% - 2px - 1rem) !important;
				font-size: 1.5rem;
			}


			option {
				background-color: $color-bg-primary;
				color: $color-text-yellow;
				font-size: 1.375rem;
			}
		}

		select {
			appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;
		}

		input[type="submit"] {
			font-size: 0.9375rem;
			color: $color-text-yellow;
		}

		.error-message {
			margin-top: 0.4rem;
			top: 100%;
			color: #ff9999;
		}
	}
}

#mce-responses {
	text-align: center !important;

	#mce-success-response {
		color: $color-white;
		float: initial;
		width: auto;
		font-weight: 400;
	}
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: $color-white;
	font-size: 2rem !important;
	font-family: $font-family-base;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: $color-white;
	font-size: 2rem !important;
	font-family: $font-family-base;
}

:-ms-input-placeholder {
	/* IE 10+ */
	color: $color-white;
	font-size: 2rem !important;
	font-family: $font-family-base;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: $color-white;
	font-size: 2.2rem !important;
	font-family: $font-family-base;
}

// ==========================================================================
// # INFO
// ==========================================================================

.footer__info {
	width: 100%;
	margin-bottom: 104px;

	@include bp (medium) {
		width: 70%;
	}

	@include bp (large) {
		width: 40%;
		justify-content: flex-end;
		margin-bottom: 0;
	}
}

.section__info {
	width: 100%;
	text-align: center;

	@include bp (large) {
		width: 60%;
		text-align: left;
	}
}

.footer__email {
	border-top: 1px solid $color-border-yellow;
	border-bottom: 1px solid $color-border-yellow;
}

.footer__address-content {
	
	@include bp (large) {
		max-width: 290px;
	}
}

.footer__map {
	display: none;
	max-width: 400px;
	height: 220px;
	background-color: $color-bg-sage-green;
	position: relative;

	@include bp (large) {
		display: block;
	}
}

.footer__map-text {
	text-align: center;
	white-space: nowrap;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

// ==========================================================================
// # BOTTOM ROW
// ==========================================================================

.footer__bottom-row {
	width: 100%;
	justify-content: center;
	height: auto;
	margin-bottom: 36px;
	text-align: center;

	@include bp (large) {
		margin-bottom: 0;
		text-align: left;
		justify-content: space-between;
	}
}

.footer__image-row {
	width: 100%;	
	justify-content: space-around;
	align-items: center	;

	@include bp (large) {
		width: 254px;
		justify-content: space-between;
		align-items: center;
	}
}

.footer__link-row {
	margin-top: 40.5px;

	@include bp (large) {
		width: 440px;
		justify-content: space-between;
		margin-top: 0;
	}
}

.footer__link-svg {

	svg {
		width: 113px;
		height: 89px;
	}
}

.footer__link-text {
	margin-bottom: 20px;

	@include bp (large) {
		margin-bottom: 10px;
	}
}

.footer__link-content {
	flex-direction: column;
	max-width: 292px;
	line-height: 1.3;
}