// ==========================================================================
// # HEADER
// ==========================================================================

header {
  display: none;

  &.active {
    display: block;
  }
}

.header__wrapper {
  align-items: center;
  justify-content: space-between;
}

.header_ul {
  list-style: none;
}

.header_li {
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: $z-lvl-13;

  @include bp(large) {
    height: 90px;
  }
}

.nav-bar__menu-position {
  position: relative;
  height: 80px;
  display: flex;
  align-items: center;

  @include bp (large) {
    height: 90px;
  }
}

.nav-bar--dark {
  .nav-bar__dark {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-bg-black;
    opacity: 0.4;
    z-index: $z-lvl-1;
    transition: $default-transition;

    @include bp(large) {
      display: none;
    }

    &.disable {
      opacity: 0;
    }
  }
}

.nav-bar__dark {
  display: none;
}

// ==========================================================================
// # NAVBAR CONTAINER
// ==========================================================================

.nav-bar__container {
  position: relative;
  z-index: $z-lvl-8;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;

  &.items {
    .nav-bar__page-title {
      opacity: 0;
      visibility: hidden;
    }

    .nav-bar__the-grove {
      opacity: 0;
      visibility: hidden;
    }

    .nav-bar__register {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }
  }
}

.nav-bar__register-link-mobile {
  text-decoration: none;
  position: relative;
  z-index: $z-lvl-13
}

.nav-bar__register-icon-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: $z-lvl-13;

  @include bp(large) {
    display: none;
  }

  .nav-bar__register-icon {
    margin-bottom: 2px;
  }
}

.nav-bar__page-title {
  display: none;

  &--hidden {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  @include bp(large) {
    display: block;
    white-space: nowrap;
    width: 17%;
  }

  @include bp(xlarge) {
    width: 16%;
    transition: $default-transition;
  }

  @include bp(full) {
    width: 13%;
  }
}

.nav-bar__the-grove {
  justify-content: center;
  transition: $default-transition;
  position: relative;
  z-index: $z-lvl-13;

  &--hidden {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  @include bp(large) {
    width: 66%;
  }

  @include bp(xlarge) {
    width: 68%;
  }

  @include bp(full) {
    width: 74%;
  }
}

.nav-bar__the-grove-link {
  display: flex;
  justify-content: center;
}

.nav-bar__the-grove-logo {
  width: 100%;
  
  @include bp (xlarge) {
    width: 90%;
  }

  @include bp (full) {
    width: 100%;
  }
}

.nav-bar__links {
  justify-content: flex-end;
  z-index: $z-lvl-13;
  align-items: center;

  @include bp (large) {
    width: 17%;
  }

  @include bp(xlarge) {
    width: 16%;
  }

  @include bp(full) {
    width: 13%;
  }
}

.nav-bar__socials {
  display: none;

  .nav-bar__social-link {
    display: inline-block;

    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-bar__social-icon {
    max-width: 20px;
    max-height: 20px;
  }

  &.margin-left {
    margin-right: 37px;
  }

  @include bp(large) {
    display: flex;
  }
}

.nav-bar__register {
  display: none;
  flex: 2.2;
  justify-content: center;
  transition: $default-transition;
  opacity: 1;

  @include bp(large) {
    display: flex;
  }
}

.nav-bar__menu-icon {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 24px;
  height: 20px;
  cursor: pointer;

  &.open {
    .nav-bar__burger-icon {
      opacity: 0;
    }

    .nav-bar__x-button {
      opacity: 1;
    }
  }

  .nav-bar__burger-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    transition: $default-transition;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-bottom: 1px solid $color-border-yellow;
      transform: translateY(100%);
    }

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      border-bottom: 1px solid $color-border-yellow;
      transform: translateY(-100%);
    }
  }

  .nav-bar__burger-icon-line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid $color-border-yellow;

    @include bp(large) {
      width: 50%;
    }
  }

  .nav-bar__x-button {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: $default-transition;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      top: 10px;
      border-bottom: 1px solid $color-border-yellow;
      transform: rotate(135deg);
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      top: 10px;
      border-bottom: 1px solid $color-border-yellow;
      transform: rotate(-135deg);
    }
  }
}

.page-border-top {
  width: 100%;
  position: fixed;
  top: 80px;
  left: 0;
  z-index: $z-lvl-13;
  transition: $default-transition;
  background: radial-gradient(ellipse at center, $color-border-yellow 0%, $color-border-yellow 30%, transparent 30%);
  background-size: 6px 6px;
  background-repeat: repeat-x;
  background-position: 5px center;
  width: 100vw;
  height: 10px;

  @include bp(large) {
    top: 90px;
    background-size: 7px 7px;
  }

  &.border-hide-mobile {
    border-bottom: none;
    background: none;

    @include bp(xlarge) {
      background: radial-gradient(ellipse at center, $color-border-yellow 0%, $color-border-yellow 30%, transparent 30%);
      background-size: 7px 7px;
      background-repeat: repeat-x;
      background-position: 5px center;
      width: 100vw;
      height: 10px;
    }
  }
}

.page-border-top--hidden {
  border-bottom: none;
  background: none;

  @include bp(large) {
    background: radial-gradient(ellipse at center, $color-border-yellow 0%, $color-border-yellow 30%, transparent 30%);
    background-size: 7px 7px;
    background-repeat: repeat-x;
    background-position: 5px center;
    width: 100vw;
    height: 10px;
  }
}

.page-border-left {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 15px;
  z-index: $z-lvl-15;
  background: radial-gradient(ellipse at center, $color-border-yellow 0%, $color-border-yellow 30%, transparent 30%);
  background-size: 6px 6px;
  background-repeat: repeat-y;
  background-position: center 5px;
  width: 10px;
  height: 100%;

  @include bp(large) {
    left: 30px;
    background-size: 7px 7px;
  }
}

.page-border-right {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 15px;
  z-index: $z-lvl-15;
  background: radial-gradient(ellipse at center, $color-border-yellow 0%, $color-border-yellow 30%, transparent 30%);
  background-size: 6px 6px;
  background-repeat: repeat-y;
  background-position: center 5px;
  width: 10px;
  height: 100%;

  @include bp(large) {
    right: 30px;
    background-size: 7px 7px;
  }
}

.page-border-bottom {
  width: 100%;
  position: fixed;
  bottom: 30px;
  left: 0;
  z-index: $z-lvl-13;
  display: none;
  background: radial-gradient(ellipse at center, $color-border-yellow 0%, $color-border-yellow 30%, transparent 30%);
  background-size: 7px 7px;
  background-repeat: repeat-x;
  background-position: 5px center;
  width: 100vw;
  height: 10px;


  @include bp(large) {
    display: block;
  }
}
