// ==========================================================================
// # ACCORDION / PARTIAL
// ==========================================================================

.accordion__container {
    background: $color-bg-dark;
    height: auto;

    @include bp (large) {
       min-height: 100vh;
    }
}

.accordion__wrapper {
    padding-top: 120px;
    padding-bottom: 3.85rem;
    margin: 0 6px;
    
    @include bp (large) {
      padding-top: 200px;
      margin-left: auto;
      margin-right: auto;
    }

    @include bp (full) {
        padding-top: 260px;
        margin-left: auto;
        margin-right: auto;
    }

    @include bp (retina) {
        padding-top: 450px;
        margin-left: auto;
        margin-right: auto;
    }
}

.accordion {
    padding-left: 0;
    list-style: none;
}

.accordion-main__title {
    justify-content: center;
    margin-bottom: 60px;
}

.accordion__li {
    color: $color-text-yellow;
}

.accordion__li__content {
    width: 100%;
    padding: 1.6rem 0rem;
    border-bottom: 1px solid $color-border-yellow;
        
    @include bp (medium) {
        margin: 0;
    }
}

.accordion__li:first-child > .accordion__li__content {
    border-top: 1px solid $color-border-yellow;
}

.accordion__li__margin {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 0px 20px;
    
    @include bp (medium) {
      margin: 0;
    }
}

.accordion__children {
    width: 100%;
    padding-left: 0;
    list-style: none;
    display: none;

    .accordion__children__li:last-child {
        border-bottom: 1px solid $color-border-yellow;
    }
}

.accordion__children__li {
    padding: 3.125rem 0 2.625rem;
    border-bottom: 1px solid $color-border-sage-green;
    
    @include bp (medium) {
      margin: 0;
    }
}

.accordion__children__li--margin {
    display: flex;
    flex-wrap: wrap;
   
    @include bp (medium) {
      margin: 0;
    }
    
    @include bp (large) {
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
    }
}

.accordion__left {
    display: flex;
    flex-wrap: wrap;
    width: 100%;  
    
    @include bp (large) {
      flex-wrap: nowrap;
    }
}
  
.accordion__number {
    width: 25%;
    margin-bottom: 2.5rem;
    
    @include bp (large) {
        margin-bottom: 0;
        width: 15%;
    }
}

.accordion__inner {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-between;
    
    @include bp (large) {
        flex-wrap: nowrap;
        width: 85%;
    }
}

.accordion__details {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    
    @include bp (large) {
        flex-wrap: nowrap;
        margin-bottom: 0;
        width: 85%;
    }

    div {
        width: 50%;
        margin-bottom: 1.85rem;
      
        @include bp (large) {
            width: auto;
            margin-bottom: 0;
        }
      
        @include bp (xlarge) {
            margin-right: 3.125rem; 
        }
    }
}

.accordion__view {
    width: 95%;
    display: flex;
    margin-top: 0.625rem;

    @include bp (large) {
        margin-top: 0;
        width: 15%;
        justify-content: flex-end;
    }
}

.accordion__link {

    a {
        white-space: nowrap;
        transition: $default-transition;
        
    }
}
  
.accordion__download-all {
    padding: 2.25rem 0 3.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    text-align: center;
    
    @include bp (small) {
        text-align: right;
    }

    a {
        white-space: pre-wrap;
        display: block;
        
        @include bp (small) {
            display: inline-block;
            border-bottom: 1px solid $color-border-yellow;
        }
    }
}

.accordion__link--main {
    text-align: center;
    padding: 3.15rem 0;
    
    @include bp (large) {
        text-align: right;
    }
    
    a {
        opacity: 1;
        border-bottom: 1px solid $color-border-yellow;

        @include bp (large) {
            &:hover {
                opacity: 0.5;
                border-bottom: 1px solid $color-border-yellow;
            }   
        }
    }
}