// ==========================================================================
// # BIG IMAGE ROW / PARTIAL
// ==========================================================================

.big-image-row {
	@include bp(large) {
		height: 100vh;
		padding: 120px 0px 60px 0;
	}
}

.big-image-row--dark {
	background: $color-bg-dark;
}

.big-image-row--light {
	background: $color-bg-sage-green;
}

.big-image-row--darkgreen {
	background: $color-bg-primary;
}

.big-image-row--hidden-mobile {
	display: none;

	@include bp(large) {
		display: block;
	}
}

.big-image-row--hidden-desktop {
	display: block;

	@include bp(large) {
		display: none;
	}
}

.big-image-row--hidden-both {
	display: none;
}

.big-image-row__container {
	padding: 0;
	height: 100%;

	@include bp(large) {
		padding-left: 60px;
		padding-right: 60px;
	}
}

.big-image-row__image {
	width: 100%;
	position: relative;

	@include bp(large) {
		height: 100%;
		z-index: $z-lvl-6;
	}
}

.big-image-row__img {
	height: 100%;
	object-fit: cover;
	display: block;
}
