// ==========================================================================
// # CARDS ROW / PARTIAL
// ==========================================================================

.cards-row {
    background: $color-bg-sage-green;
    position: relative;
    z-index: $z-lvl-12;
}

.cards-row__the-grove {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);

    @include bp (large) {
		top: 35px;
	}
}

.cards-row__row {
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding-top: 118px;
    padding-bottom: 47px;
    flex-direction: column;
    width: 100%;
    
    @include bp (large) {
        flex-direction: row;
        padding-bottom: 0;
        padding-top: 0;
    }

    .cards-row__box:first-child {
        @include bp (large) {
            z-index: $z-lvl-5;
        }
    }
}

.cards-row__box {
    position: relative;
    text-align: center;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.203);
    margin-bottom: 60px;
    width: 100%;

    &:last-child {
        margin-bottom: 0;
    }

    @include bp (medium) {
        width: 80%;
    }
    

    @include bp (large) {
        width: calc(33% - 60px);
        margin-right: 60px;
        margin-bottom: 0;
        transition: $default-transition;
        transform: translateY(0); 

        &:hover {
            transform: translateY(-4px);
            box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
        }

    }

    @include bp (xlarge) {
        margin-top: 55px;
    }

    @include bp (full) {
        margin-top: 0;
    }
}

.cards-row__box:last-child {
    margin-right: 0;
}

.cards-row__box--darkgreen {
    background-color: $color-bg-primary;
}

.cards-row__box--yellow {
    background-color: $color-bg-yellow;

    .cards-row__title {
        color: $color-text;
    }
}

.cards-row__box--dark {
    background-color: $color-bg-dark;
}

.cards-row__box--darkgreen,
.cards-row__box--dark {
    
    .cards-row__subtitle {
        color: $color-text-sage-green;
    }
}

.cards-row__inner {
    padding: 15px 12px 62px 11px;
    flex-direction: column;
}

.cards-row__image {
    width: 100%;
    margin-bottom: 45px;  
}

.cards-row__img {
    width: 100%;
}


.cards-row__title {
    margin-bottom: 23px;
}