// ==========================================================================
// # FAQ / PARTIAL
// ==========================================================================

.faq {
    margin-bottom: 80px;
    @include bp(xlarge) {
        margin-bottom: 180px;
    }
    @include bp(full) {
        margin-bottom: 250px;
    }
}
.faq--page {
    margin-top: 60px;
    margin-bottom: 80px;
    @include bp(xlarge) {
        margin-top: 70px;
        margin-bottom: 180px;
    }
    @include bp(full) {
        margin-top: 90px;
        margin-bottom: 250px;
    }
}
.faq__header {
    margin-bottom: 80px;
    @include bp(xlarge) {
        margin-bottom: 90px;
    }
    @include bp(full) {
        margin-bottom: 120px;
    }
}
.faq__icon {
    width: 17px;
    height: 20px;
    transform: rotate(90deg);
    transition: $default-transition;
    svg {
        width: 17px;
    }
    .active & {
        transform: rotate(270deg);
    }
}
.faq__row {
    margin-bottom: 56px;
}
.faq__border {
    border-bottom: 1px solid $color-border; 
    padding-bottom: 32px;
}
.faq__question {
    cursor: pointer;
    &.active + .faq__answer {
        margin-top: 32px;
    }
}
.faq__title {
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}
.faq__answer {
    height: 0px;
    overflow: hidden;
    transition: $default-transition;
}
.faq__description {
    width: 100%;
}
.faq__careers--link {
    width: 100%;
    display: flex;
}
.site-link__faq {
    margin-top: 3rem;
    margin-bottom: 6rem;
    .faq__question {
        padding: 1.3rem 0 1rem;
    }
}