// ==========================================================================
// # GALLERY / PARTIAL
// ==========================================================================


.gallery {
    background-color: $color-bg-sage-green;

    @include bp (large) {
        height: 100vh;
    }
}

.gallery__container {
    justify-content: space-between;
    align-items: center;

    @include bp (large) {
        min-height: 100vh;
    }
    
}

.gallery__text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 74px;

    @include bp (large) {
        width: 30%;
        margin-bottom: 0;
    }
}

.gallery__content {
    text-align: center;
    max-width: 380px;
}

.gallery__gallery-images {
    width: 100%;
    justify-content: space-between;

    .gallery__image-box:nth-last-child(-n+3) {
        margin-bottom: 0;
    }

    @include bp (large) {
        width: 60%;
        margin-top: 80px;
    }

    @include bp (full) {
        margin-top: 60px;
    }
}

.gallery__image-box {
    flex-direction: column;
    width: calc(50% - 10px);
    margin-bottom: 28px;
    position: relative;

    @include bp (large) {
        width: calc(33% - 18px);
        margin-bottom: 20px;
        z-index: $z-lvl-6;
    }
}

.gallery__image-box--hidden-mobile {
    display: none;

    @include bp (large) {
        display: block;
    }
}

.gallery__image-box--hidden-desktop {
    display: block;

    @include bp (large) {
        display: none;
    }
}

.gallery__image-box--hidden-both {
    display: none;
}

.gallery__img-container {
    width: 100%;
    position: relative;

    @include bp (large) {
        width: 85%;
    }

    @include bp (xlarge) {
        width: 75%;
    }

    @include bp (xfull) {
        width: 100%;
    }
}

.gallery__img {
    display: block;
    height: 100%;
    object-fit: cover;
}

.gallery__svg-link-inside-img {
    position: absolute;
    display: block;
    bottom: 10px;
    right: 10px; 

    @include bp (large) {
        display: none;
    }
}

.gallery__svg-inside-img {
    display: block;
    max-width: 17px;
    max-height: 17px;
    
    @include bp (large) {
        display: none;
    }
}


.gallery__description {
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include bp (large) {
        width: 85%;
    }

    @include bp (xlarge) {
        width: 75%;
    }

    @include bp (xfull) {
        width: 100%;
    }
}

.gallery__svg-link {
    display: none;

    @include bp (large) {
        display: block;
    }
}

.gallery__svg {
    display: none;
    
    @include bp (large) {
        display: block;
        max-width: 17px;
        max-height: 17px;
    }
}