// ==========================================================================
// # TEXT ROW / PARTIAL
// ==========================================================================


.info-row {
	position: relative;
	z-index: $z-lvl-12;

	@include bp(large) {
		min-height: 100vh;
	}
}

.info-row--light {
	background: $color-bg-sage-green;
}

.info-row--darkgreen {
	background: $color-bg-primary;

	.info-row__text {
		color: $color-text-yellow;
	}
}

.info-row__container {
	width: 100%;
	height: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	@include bp(large) {
		height: 100vh;
	}
}

.info-row__container--space-between {
	justify-content: space-between;

	.info-row__the-grove {
		margin-top: 43px;

		@include bp(large) {
			margin-top: 39px;
		}
	}

	.info-row__the-building {
		margin-bottom: 68px;

		@include bp(large) {
			margin-bottom: 76px;
		}
	}
}

.info-row__the-building-icon {
	@include bp(large) {
		width: 168px;
	}
}

.info-row__inner {
	padding: 90px 0 124px 0;
	flex-direction: column;
	align-items: center;

	@include bp(large) {
		padding: 0;
		padding: 150px 0 124px 0;
	}
}

.info-row__icons {
	width: 264px;
	align-items: flex-end;
	justify-content: space-between;
}

.info-row__icon--gt {
	svg {
		width: 109px;
		height: 34px;
	}
}

.info-row__icon--logo {
	svg {
		width: 116px;
		height: 116px;
	}
}

.info-row__content {
	text-align: center;
}

.info-row__content--default {
	max-width: 248px;

	@include bp (medium) {
		max-width: 330px;
	}

	@include bp(large) {
		max-width: 450px;
	}

	@include bp(xlarge) {
		max-width: 536px;
	}
}


.info-row__content--wider {
	max-width: 300px;

	@include bp(medium) {
		max-width: 380px;
	}

	@include bp(large) {
		max-width: 450px;
	}

	@include bp(xlarge) {
		max-width: 632px;
	}
}

.info-row__header {
	margin-bottom: 26px;

	@include bp(large) {
		margin-bottom: 23px;
	}
}

.info-row__header {
	margin-bottom: 37px;

	@include bp(large) {
		margin-bottom: 64px;
	}
}

.info-row__subheader {
	margin-bottom: 35px;

	@include bp(large) {
		margin-bottom: 50px;
	}
}
