// ==========================================================================
// # MAIN MENU
// ==========================================================================


.main-menu {
  visibility: hidden;
  opacity: 0;
  transition: $default-transition;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $color-bg-primary;

  &.active {
    visibility: visible;
    opacity: 1;
    min-height: 100vh;
    height: 100%;
    overflow: scroll;
    z-index: $z-lvl-7;

    @include bp(xlarge) {
      overflow: visible;
    }
  }

  @include bp(xlarge) {
    position: fixed;
  }
}

.main-menu__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;

  @include bp(xlarge) {
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    height: 100vh;
  }
}

.main-menu__links-container {
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include bp (large) {
      justify-content: center;
      height: 100vh;
  }

  @include bp(xlarge) {
    width: 40%;
  }

}

.main-menu__g {
  display: block;
  margin-top: 28px;
  margin-bottom: 71px;

  @include bp(xlarge) {
    display: none;
  }
}

.main-menu__links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  text-transform: uppercase;

  .main-menu__link {
    margin-bottom: 32px;
    position: relative;

    a {
      text-decoration: none;
    }

    @include bp(xlarge) {
      margin-bottom: 45px;

      &:before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56.387' height='58.974'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath class='a' d='M0 0h56.386v58.974H0z'/%3E%3C/clipPath%3E%3Cstyle%3E.a%7Bfill:%23f7e7c4%7D%3C/style%3E%3C/defs%3E%3Cg clip-path='url(%23a)'%3E%3Cpath class='a' d='M31.962 34.44l1.707 1.377h.426v-5.2h2.133v-.639H28.59v.639h3.025a6.647 6.647 0 01.1 1.2 3.541 3.541 0 01-1.008 2.909 4.741 4.741 0 01-2.966 1.027c-3.006 0-5.061-2.559-5.061-6.341a8.505 8.505 0 01.989-4.091 4.534 4.534 0 014.13-2.287 5.145 5.145 0 014.5 2.559 4.672 4.672 0 01.776 2.19h.561v-4.667h-.483l-.989.989a8.114 8.114 0 00-4.751-1.572 7.634 7.634 0 00-4.77 1.669 6.383 6.383 0 00-2.483 5.2 7.075 7.075 0 001.532 4.38 6.755 6.755 0 005.487 2.5 6.7 6.7 0 004.783-1.842'/%3E%3Cpath class='a' d='M28.193 53.293L5.691 29.486l.1-.107 22.4-23.7L50.7 29.486l-.1.107zM6.115 29.486l22.077 23.36 22.079-23.36L28.193 6.128z'/%3E%3Cpath class='a' d='M28.194 50.31a.156.156 0 01-.112-.049l-.211-.225a.152.152 0 01.006-.217.156.156 0 01.219.006l.211.225a.153.153 0 01-.006.217.156.156 0 01-.107.044m.654-.694a.152.152 0 01-.107-.04.157.157 0 01-.006-.219l.213-.223a.152.152 0 01.215-.008.154.154 0 01.006.219l-.211.223a.151.151 0 01-.112.048m-1.712-.426a.153.153 0 01-.112-.049l-.211-.225a.152.152 0 01.006-.217.153.153 0 01.217.006l.213.224a.155.155 0 01-.006.217.148.148 0 01-.107.044m2.77-.691a.149.149 0 01-.1-.044.153.153 0 01-.008-.217l.213-.225a.15.15 0 01.217-.006.152.152 0 01.006.217l-.211.225a.153.153 0 01-.112.049m-3.83-.43a.154.154 0 01-.11-.048l-.213-.225a.153.153 0 01.006-.217.156.156 0 01.219.006l.211.223a.154.154 0 01-.112.261m4.89-.691a.156.156 0 01-.107-.044.153.153 0 01-.006-.217l.211-.225a.156.156 0 01.219-.006.153.153 0 01.006.217l-.211.225a.156.156 0 01-.112.049m-5.947-.428a.162.162 0 01-.112-.048l-.211-.225a.154.154 0 01.006-.219.156.156 0 01.219.006l.211.225a.156.156 0 01-.006.219.164.164 0 01-.107.042m7.005-.693a.148.148 0 01-.107-.044.153.153 0 01-.006-.217l.213-.223a.154.154 0 11.223.211l-.211.223a.153.153 0 01-.112.049m-8.065-.426a.159.159 0 01-.112-.048l-.213-.225a.156.156 0 01.008-.219.153.153 0 01.217.006l.211.225a.154.154 0 01-.11.261m9.121-.693a.144.144 0 01-.1-.044.152.152 0 01-.006-.217l.211-.223a.154.154 0 11.225.211l-.213.225a.159.159 0 01-.112.048m-10.181-.428a.147.147 0 01-.11-.048l-.213-.223a.155.155 0 11.225-.213l.211.225a.152.152 0 01-.006.217.154.154 0 01-.107.042m11.24-.691a.164.164 0 01-.107-.042.154.154 0 01-.006-.219l.211-.225a.156.156 0 01.219-.006.153.153 0 01.006.217l-.213.226a.154.154 0 01-.11.048m-12.3-.43a.151.151 0 01-.112-.048l-.211-.223a.154.154 0 01.006-.219.152.152 0 01.217.008l.213.223a.157.157 0 01-.006.219.152.152 0 01-.107.04m13.356-.691a.155.155 0 01-.112-.261l.213-.225a.154.154 0 11.223.213l-.211.225a.159.159 0 01-.112.048m-14.414-.426a.153.153 0 01-.112-.049l-.213-.225a.153.153 0 01.008-.217.152.152 0 01.217.006l.211.225a.152.152 0 01-.006.217.149.149 0 01-.1.044m15.472-.694a.15.15 0 01-.1-.042.152.152 0 01-.006-.217l.211-.225a.153.153 0 01.217-.008.158.158 0 01.008.221l-.213.223a.151.151 0 01-.112.048m-16.531-.426a.156.156 0 01-.112-.049l-.211-.224a.153.153 0 01.006-.217.156.156 0 01.219.006l.211.225a.153.153 0 01-.006.217.156.156 0 01-.107.044m17.574-.692a.146.146 0 01-.107-.042.153.153 0 01-.006-.217l.213-.223a.152.152 0 01.217-.008.154.154 0 01.006.219l-.211.223a.151.151 0 01-.112.048m-18.654-.43a.156.156 0 01-.112-.049l-.211-.223a.154.154 0 01.006-.219.157.157 0 01.219.008l.211.223a.155.155 0 01-.006.217.148.148 0 01-.107.044m19.707-.693a.147.147 0 01-.1-.042.153.153 0 01-.008-.217l.213-.224a.15.15 0 01.217-.006.152.152 0 01.006.217l-.211.225a.151.151 0 01-.112.048m-20.767-.429a.154.154 0 01-.11-.048l-.213-.225a.156.156 0 01.006-.219.157.157 0 01.219.008l.211.223a.154.154 0 01-.112.261m21.826-.691a.156.156 0 01-.107-.044.152.152 0 01-.006-.215l.211-.225a.154.154 0 01.224.211l-.213.225a.149.149 0 01-.11.049m-22.884-.428a.162.162 0 01-.112-.048l-.211-.225a.155.155 0 11.225-.213l.211.225a.156.156 0 01-.006.219.164.164 0 01-.107.042m23.942-.693a.148.148 0 01-.107-.044.153.153 0 01-.006-.217l.211-.225a.155.155 0 11.225.213l-.211.223a.156.156 0 01-.112.049m-25-.428a.159.159 0 01-.112-.048l-.217-.224a.156.156 0 01.008-.219.153.153 0 01.217.006l.211.225a.154.154 0 01-.11.261m26.058-.693a.144.144 0 01-.1-.044.152.152 0 01-.006-.217l.211-.223a.154.154 0 11.223.211l-.211.225a.159.159 0 01-.112.048m-27.119-.428a.15.15 0 01-.11-.048l-.213-.223a.157.157 0 01.006-.219.154.154 0 01.219.006l.211.225a.152.152 0 01-.006.217.146.146 0 01-.107.042m28.177-.69a.161.161 0 01-.107-.04.156.156 0 01-.006-.221l.211-.223a.156.156 0 01.219-.006.157.157 0 01.006.219l-.213.225a.152.152 0 01-.11.046m-29.235-.431a.154.154 0 01-.112-.048l-.211-.221a.156.156 0 01.006-.219.154.154 0 01.219.008l.211.223a.155.155 0 01-.006.217.146.146 0 01-.107.042m30.288-.693a.155.155 0 01-.112-.261l.211-.225a.155.155 0 01.225.213l-.211.225a.159.159 0 01-.112.048m-31.347-.428a.151.151 0 01-.112-.048l-.211-.225a.154.154 0 01.223-.211l.213.225a.153.153 0 01-.112.259m32.408-.693a.15.15 0 01-.1-.042.152.152 0 01-.006-.217l.211-.226a.152.152 0 01.217 0 .153.153 0 01.008.217l-.213.225a.151.151 0 01-.112.048m-33.474-.43a.156.156 0 01-.112-.049l-.211-.225a.156.156 0 01.229-.212l.211.225a.153.153 0 01-.006.217.156.156 0 01-.107.044m34.528-.694a.145.145 0 01-.1-.04.152.152 0 01-.008-.217l.211-.225a.15.15 0 01.217-.008.153.153 0 01.008.217l-.211.225a.147.147 0 01-.112.048M10.2 31.271a.156.156 0 01-.112-.049l-.211-.223a.154.154 0 01.006-.219.156.156 0 01.219.006l.211.225a.155.155 0 01-.006.217.148.148 0 01-.107.044m36.643-.693a.154.154 0 01-.107-.042.157.157 0 01-.006-.219l.213-.223a.154.154 0 11.223.211l-.211.223a.146.146 0 01-.112.049m-37.7-.428a.15.15 0 01-.11-.048l-.211-.224a.152.152 0 01.006-.217.153.153 0 01.217.006l.211.223a.156.156 0 01-.006.221.158.158 0 01-.107.04m38.412-.691a.149.149 0 01-.11-.049l-.213-.225a.154.154 0 01.225-.211l.211.225a.152.152 0 01-.006.217.156.156 0 01-.107.044M9.237 29.03a.161.161 0 01-.107-.04.16.16 0 01-.006-.221l.213-.223a.156.156 0 11.226.214l-.211.225a.157.157 0 01-.112.046m37.26-.691a.156.156 0 01-.112-.049l-.211-.225a.153.153 0 01.006-.217.156.156 0 01.219.006l.211.225a.153.153 0 01-.006.217.156.156 0 01-.107.044m-36.2-.428a.164.164 0 01-.107-.042.152.152 0 01-.006-.217l.211-.226a.153.153 0 01.217-.006.156.156 0 01.008.219l-.211.225a.162.162 0 01-.112.048m35.142-.693a.151.151 0 01-.112-.048l-.211-.225a.152.152 0 01.006-.217.153.153 0 01.217.006l.211.223a.154.154 0 01-.006.219.15.15 0 01-.1.042m-34.093-.431a.153.153 0 01-.112-.259l.211-.226a.154.154 0 01.219 0 .152.152 0 01.006.217l-.211.225a.154.154 0 01-.112.048m33.025-.693a.147.147 0 01-.11-.048l-.213-.223a.157.157 0 01.006-.219.156.156 0 01.219.006l.211.223a.156.156 0 01-.006.221.161.161 0 01-.107.04m-31.968-.432a.145.145 0 01-.1-.04.154.154 0 01-.006-.219l.211-.223a.15.15 0 01.217-.006.152.152 0 01.006.217l-.211.223a.144.144 0 01-.112.048m30.909-.691a.159.159 0 01-.112-.048l-.211-.225a.155.155 0 01.225-.213l.211.225a.155.155 0 01-.112.261m-29.855-.428a.154.154 0 01-.109-.261l.211-.223a.154.154 0 01.225.211l-.213.223a.142.142 0 01-.11.049m28.787-.69a.151.151 0 01-.112-.048l-.213-.225a.153.153 0 01.008-.217.152.152 0 01.217 0l.213.226a.153.153 0 01-.008.217.15.15 0 01-.1.042m-27.734-.426a.155.155 0 01-.112-.261l.211-.225a.156.156 0 01.219-.006.153.153 0 01.001.223l-.211.225a.153.153 0 01-.112.049m26.674-.694a.154.154 0 01-.112-.048l-.211-.223a.156.156 0 01.008-.219.152.152 0 01.217.008l.211.223a.156.156 0 01-.006.219.152.152 0 01-.107.04m-25.616-.426a.149.149 0 01-.1-.044.152.152 0 01-.006-.217l.211-.225a.154.154 0 01.225.211l-.213.225a.153.153 0 01-.112.049m24.558-.693a.146.146 0 01-.112-.049l-.211-.223a.154.154 0 01.223-.211l.213.223a.157.157 0 01-.006.219.154.154 0 01-.107.042m-23.5-.428a.161.161 0 01-.107-.04.158.158 0 01-.006-.221l.211-.223a.154.154 0 01.225.211l-.211.225a.154.154 0 01-.112.048m22.439-.691a.149.149 0 01-.11-.049l-.211-.225a.152.152 0 01.006-.217.153.153 0 01.217.006l.211.224a.152.152 0 01-.006.217.156.156 0 01-.107.044m-21.381-.43a.161.161 0 01-.107-.04.16.16 0 01-.006-.221l.213-.223a.154.154 0 11.223.213l-.211.223a.151.151 0 01-.112.048m20.323-.691a.156.156 0 01-.112-.049l-.211-.225a.153.153 0 01.006-.217.156.156 0 01.219.006l.211.225a.153.153 0 01-.006.217.156.156 0 01-.107.044m-19.269-.43a.164.164 0 01-.107-.042.152.152 0 01-.006-.217l.211-.226a.153.153 0 01.217-.006.156.156 0 01.008.219l-.213.225a.154.154 0 01-.11.048m18.208-.693a.159.159 0 01-.112-.048l-.211-.225a.154.154 0 11.223-.211l.213.223a.156.156 0 01-.008.219.15.15 0 01-.1.042m-17.153-.429a.146.146 0 01-.107-.042.153.153 0 01-.006-.217l.211-.226a.156.156 0 01.219 0 .153.153 0 01.006.217l-.211.225a.154.154 0 01-.112.048m16.09-.691a.159.159 0 01-.112-.048l-.213-.225a.156.156 0 01.008-.219.153.153 0 01.217.006l.211.225a.154.154 0 01-.006.219.163.163 0 01-.1.042m-15.032-.428a.147.147 0 01-.1-.042.154.154 0 01-.006-.219l.211-.223a.152.152 0 01.217-.008.154.154 0 01.006.219l-.211.223a.153.153 0 01-.112.049m13.962-.696a.162.162 0 01-.112-.048l-.211-.225a.155.155 0 01.225-.213l.211.226a.152.152 0 01-.006.217.164.164 0 01-.107.042m-12.913-.426a.156.156 0 01-.107-.044.152.152 0 01-.006-.217l.211-.225a.154.154 0 01.225.211l-.213.225a.149.149 0 01-.11.049m11.855-.694a.151.151 0 01-.112-.048l-.211-.223a.154.154 0 11.223-.213l.213.225a.153.153 0 01-.008.217.139.139 0 01-.1.042M23 14.472a.156.156 0 01-.107-.044.153.153 0 01-.006-.217l.211-.225a.157.157 0 01.219-.006.153.153 0 01.006.217l-.211.225a.156.156 0 01-.112.049m9.739-.694a.151.151 0 01-.112-.048l-.213-.223a.156.156 0 01.008-.219.152.152 0 01.217.008l.211.223a.152.152 0 01-.006.217.145.145 0 01-.1.042m-8.681-.426a.141.141 0 01-.1-.044.153.153 0 01-.008-.217l.213-.223a.154.154 0 11.223.211l-.211.223a.153.153 0 01-.112.049m7.61-.69a.151.151 0 01-.112-.048l-.211-.225a.154.154 0 01.223-.211l.213.225a.153.153 0 01-.112.259m-6.564-.428a.15.15 0 01-.1-.042.154.154 0 01-.006-.219l.211-.223a.154.154 0 11.225.211l-.213.225a.159.159 0 01-.112.048m5.506-.691a.153.153 0 01-.112-.049l-.211-.225a.152.152 0 01.006-.217.153.153 0 01.217.006l.213.225a.153.153 0 01-.008.217.149.149 0 01-.1.044m-4.446-.428a.164.164 0 01-.107-.042.157.157 0 01-.006-.219l.213-.225a.154.154 0 11.223.213l-.211.225a.159.159 0 01-.112.048m3.378-.693a.149.149 0 01-.11-.049l-.213-.223a.156.156 0 01.006-.219.157.157 0 01.219.006l.207.224a.152.152 0 01-.006.217.148.148 0 01-.107.044m-2.329-.428a.155.155 0 01-.1-.042.153.153 0 01-.008-.217l.213-.226a.154.154 0 11.223.213l-.211.225a.159.159 0 01-.112.048m1.271-.693a.162.162 0 01-.112-.048l-.211-.225a.156.156 0 01.006-.219.157.157 0 01.219.008l.211.223a.154.154 0 01-.112.261M28.194 6.193l-.131-.209C27.97 5.835 25.768 2.3 26.64.736A1.624 1.624 0 0128.194 0a1.622 1.622 0 011.558.736c.868 1.57-1.334 5.1-1.427 5.247zm0-5.885a1.326 1.326 0 00-1.288.576c-.668 1.206.826 3.931 1.288 4.718.462-.788 1.956-3.512 1.288-4.718a1.326 1.326 0 00-1.288-.576M54.747 31.368c-1.733 0-4.224-1.67-4.347-1.754l-.19-.127.188-.126c.148-.1 3.6-2.42 5.2-1.57a1.749 1.749 0 01.788 1.7 1.752 1.752 0 01-.788 1.7 1.831 1.831 0 01-.854.185m-3.978-1.882c.752.476 3.453 2.08 4.688 1.423a1.469 1.469 0 00.624-1.423 1.469 1.469 0 00-.624-1.423c-1.235-.654-3.936.947-4.688 1.423M1.642 31.368a1.826 1.826 0 01-.854-.185A1.749 1.749 0 010 29.486a1.745 1.745 0 01.788-1.7c1.6-.847 5.057 1.471 5.2 1.57l.186.126-.188.127c-.124.084-2.614 1.754-4.347 1.754m.01-3.459a1.523 1.523 0 00-.719.154 1.468 1.468 0 00-.622 1.428 1.466 1.466 0 00.624 1.423c1.235.656 3.936-.947 4.688-1.423a9.563 9.563 0 00-3.969-1.577M28.194 58.974a1.626 1.626 0 01-1.554-.735c-.868-1.572 1.334-5.1 1.427-5.251l.131-.207.131.207c.093.15 2.294 3.68 1.427 5.251a1.624 1.624 0 01-1.558.734m0-5.6c-.462.788-1.956 3.514-1.288 4.718a1.326 1.326 0 001.288.576 1.326 1.326 0 001.288-.576c.668-1.2-.826-3.931-1.288-4.718'/%3E%3C/g%3E%3C/svg%3E");
        transition: $default-transition;
        opacity: 0;
        position: absolute;
        display: inline-block;
        left: -50px;
        bottom: -10px;
      }

      &:hover {
        &:before {
          left: -50px;
          opacity: 1;
        }
      }
    }

    @include bp(full) {
      margin-bottom: 65px;
    }
  }

  .main-menu__link:last-child {
    margin-bottom: 60px;

    @include bp(xlarge) {
      margin-bottom: 65px;
    }
  }
}

.main-menu__building {
  display: block;

  svg {
    width: 123px;
    height: 97px;
  }

  @include bp(xlarge) {
    display: none;
  }
}

.main-menu__socials {
  display: flex;
  width: 20%;
  margin-top: 30px;
  margin-bottom: 44px;
  justify-content: space-between;

  @include bp (medium) {
    justify-content: space-around;
  }

  @include bp(xlarge) {
    display: none;
  }

}

.main-menu__social-icon {
  max-width: 20px;
  max-height: 20px;
}

.main-menu__image {
  display: none;

  @include bp(xlarge) {
    margin-top: 65px;
    flex-direction: column;
    min-height: 600px;
    width: auto;
    display: flex;
  }

  @include bp (full) {
    margin-top: 0;
  }
}

.main-menu__img-container {
  overflow: hidden;
  position: relative;
  height: 460px;
  width: 820px;
}

.main-menu__dark {
  position: absolute;
  background-color: $color-bg-black;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.4;
  z-index: $z-lvl-2;
}

.main-menu__text-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  z-index: $z-lvl-3;
}

.main-menu__text {
  color: $color-text-white;
}

.main-menu__main-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.main-menu__new-img {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: $default-transition;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.main-menu__info {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.main-menu__address {
  max-width: 160px;
  align-items: flex-end;
  padding-bottom: 7px;
}
