// ==========================================================================
// # SIDE IMAGE ROW / PARTIAL
// ==========================================================================

.side-image-row--light {
    background: $color-bg-sage-green;

    .side-image-row__content-subtitle {
        color: $color-text;
    }

    .side-image-row__text {
        color: $color-text;
    }
}

.side-image-row--dark {
   background: $color-bg-dark;

}

.side-image-row--darkgreen {
    background: $color-bg-primary;
}

.side-image-row--dark,
.side-image-row--darkgreen {
    
    .side-image-row__content-subtitle {
        color: $color-text-sage-green;
    }
 
    .side-image-row__text {
        color: $color-text-yellow;
    }
}

.side-image-row__row {
    

    @include bp (large) {
        height: 100vh;
        padding: 120px 0 60px 0;
    }
}

.side-image-row__container {
    padding: 0;

    @include bp (large) {
        padding-left: 60px;
        padding-right: 60px;
    }
}

.side-image-row__image-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    @include bp (large) {
        width: 50%;
        max-height: 100vh;
        z-index: $z-lvl-6;
    }
}

.side-image-row__image {
    height: 100%;
}


.side-image-row__img {
    height: 100%;
    object-fit: cover;
}

.side-image-row__content-box {
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 58px 0;
    margin: 0 45px 0 36px;
    
    @include bp (large) {
        width: 50%;
        padding: 0;
        margin: 0;
    }
}

.side-image-row__inner {
     max-width: 300px;

     @include bp (large) {
        max-width: 400px;
     }
}

.side-image-row__content-image {
    transform: translateY(-6px);

    img {
        width: 80%;

        @include bp (large) {
            width: 100%;
        }
    }
}



