// ==========================================================================
// # SPACING ROW / PARTIAL
// ==========================================================================


$spacing-units: (10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120);

@each $unit in $spacing-units {
    .space-#{$unit} {
      padding-bottom: #{$unit}px;
    }
}

.spacing-row--light {
    background-color: $color-bg-sage-green;
}

.spacing-row--dark {
    background-color: $color-bg-dark;
}

.spacing-row--darkgreen {
    background-color: $color-bg-primary;
}

.spacing-row--white {
    background-color: $color-bg-white;
}

.spacing-row--black {
    background-color: $color-bg-black-1;
}

.space-nothing {
    display: none;
}