// ==========================================================================
// # STRETCHED IMAGE ROW / PARTIAL
// ==========================================================================


.stretched-image-row {
    position: relative;

    @include bp (large) {
        height: 100vh;
        padding-top: 50px;
    }
}

.stretched-image-row--default {

    .stretched-image-row__container {
        justify-content: flex-start;
    }

    .stretched-image-row__image {
        right: 0;
    }
}

.stretched-image-row--reverse {
    
    .stretched-image-row__container {
        justify-content: flex-end;
    }

    .stretched-image-row__image {
        left: 0;
    }
}

.stretched-image-row--light {
    background: $color-bg-sage-green;
}

.stretched-image-row--dark {
    background: $color-bg-dark;
}

.stretched-image-row--darkgreen {
    background: $color-bg-primary;
}

.stretched-image-row--dark,
.stretched-image-row--darkgreen {
    
    .stretched-image-row__content-subtitle {
        color: $color-text-sage-green;
    }

    .stretched-image-row__text {
        color: $color-text-yellow;
    }
}

.stretched-image-row--lightdark {
    background: $color-bg-sage-green;

    @include bp (large) {
        background: rgb(170,180,172);
        background: linear-gradient(90deg, rgba(170,180,172,1) 50%, rgba(57,57,57,1) 50%);
    }
}

.stretched-image-row--white {
    background: $color-bg-white;

    .stretched-image-row__content-title {
        color: $color-text;
    }

    .stretched-image-row__content-subtitle {
        color: $color-text-sage-green;
    }

}

.stretched-image-row__mobile-order {
    display: flex;
    flex-direction: column;
    
    @include bp (large) {
        display: block;
        flex-direction: row;
    }
}

.stretched-image-row__mobile-order--top {

    .stretched-image-row__image {
        order: 0;
    }

    .stretched-image-row__container {
        order: 2;
    }
}

.stretched-image-row__mobile-order--bottom {

    .stretched-image-row__image {
        order: 2;
    }

    .stretched-image-row__container {
        order: 0;
    }
}

.stretched-image-row__container {
    
    @include bp (large) {
        height: calc(100vh - 50px);
    }
}

.stretched-image-row__content-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include bp (large) {
        width: 40%;
        height: calc(100vh - 50px);
    }
}

.stretched-image-row__content {
    max-width: 294px;
    text-align: center;

    @include bp (large) {
        max-width: 358px;
    }
}

.stretched-image-row__image {
    width: 100%;
    height: auto;

    @include bp (large) {
        position: absolute;
        width: 55%;
        top: 50%;
        transform: translateY(calc(-50% + 25px));
        margin: 0;
        z-index: $z-lvl-6;
    }

    @include bp (xlarge) {
        width: 60%;
    }

    @include bp (retina) {
        width: 54%;
    }
}


.stretched-image-row__img {
    height: 100%;
    object-fit: cover;
    display: block;
}