// ==========================================================================
// # TEXT ROW / PARTIAL
// ==========================================================================


.text-row {
	position: relative;
	z-index: $z-lvl-12;

	@include bp(large) {
		min-height: 100vh;
	}
}

.text-row--light {
	background: $color-bg-sage-green;
}

.text-row--darkgreen {
	background: $color-bg-primary;

	.text-row__subheader {
		color: $color-text-sage-green;
	}

	.text-row__text {
		color: $color-text-yellow;
	}
}

.text-row__container {
	width: 100%;
	height: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	@include bp(large) {
		height: 100vh;
	}
}

.text-row__inner {
	padding: 81px 0 73px 0;
	flex-direction: column;
	align-items: center;

	@include bp(large) {
		padding: 0;
	}
}

.text-row__content {
	text-align: center;
	max-width: 294px;

	@include bp (medium) {
		max-width: 390px;
	}

	@include bp(large) {
		max-width: 450px;
	}

	@include bp(xlarge) {
		max-width: 536px;
	}
}

.text-row__header {
	margin-bottom: 26px;

	@include bp(large) {
		margin-bottom: 23px;
	}
}

.text-row__header {
	margin-bottom: 26px;

	@include bp(large) {
		margin-bottom: 23px;
	}
}

.text-row__subheader {
	margin-bottom: 35px;

	@include bp(large) {
		margin-bottom: 50px;
	}
}
