// ==========================================================================
// # THE TEAM ROW / PARTIAL
// ==========================================================================

.the-team-row {
	background: $color-bg-sage-green;
	padding: 98px 0 0 0;

	@include bp(large) {
		height: 100vh;
		padding: 150px 0 30px 0;
	}

	@include bp(retina) {
		padding: 98px 0 30px 0;
	}
}

.the-team-row__container {
	height: 100%;

	@include bp(retina) {
		display: flex;
		align-items: center;
	}
}

.the-team-row__text-container {
	height: 100%;

	@include bp(retina) {
		display: flex;
		height: 60%;
		align-content: space-between;
	}
}

.the-team-row__text-box {
	width: 100%;
	text-align: center;
	margin-bottom: 73px;
	display: flex;
	justify-content: center;

	@include bp(large) {
		text-align: left;
		width: calc(33% - 60px);
		margin-right: 60px;
		margin-bottom: 0;
	}
}

.the-team-row__content {
	max-width: 494px;
}

.the-team-row__title {
	font-weight: 700;
}
