// ==========================================================================
// # THE GROVE BANNER / FRONT PAGE COMPONENT
// ==========================================================================


.the-grove-banner {
    display: flex;
    align-items: flex-end;
    background: $color-bg-primary;
    position: relative;
}

.the-grove-banner__flex-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.the-grove-banner__subtitle {
    text-align: center;
}

.the-grove-banner__logo {
    z-index: $z-lvl-2;
    position: fixed;

    @include bp (large) {
        position: sticky;
    }
}

.the-grove-banner__text {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.the-grove-banner__content {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.the-grove-banner__the-grove {
    position: absolute;
    top: 30px;
}

.the-grove-banner__building-icon {
    bottom: 160px;
    position: absolute;

    @include bp(large) {
        bottom: 30px;
    }

    svg {
        width: 126px;
        height: 100px;

        @include bp(medium) {
            width: 211px;
            height: 167px;
        }
    }
}

.the-grove-banner__first,
.the-grove-banner__second,
.the-grove-banner__third,
.the-grove-banner__initial {
    position: absolute;
}

.the-grove-banner__initial {
    top: 0;
    background-color: $color-yellow;
    width: 100%;
    height: 100%;
}

.the-grove-banner__first {
    top: 0;
    background-color: $color-bg-dark;
    width: 0;
    height: 100%;
    left: 0;
    z-index: $z-lvl-7;
}

.the-grove-banner__second {
    top: 0;
    height: 100%;
    background-color: $color-bg-black-1;
    width: 0;
    right: 0;
    z-index: $z-lvl-9;
}

.the-grove-banner__third {
    background-color: $color-bg-primary;
    width: 100%;
    bottom: 0;
    z-index: $z-lvl-11;
    transition: background-color 1s ease;
}



.the-grove-banner__text--first {
    z-index: $z-lvl-8;
}

.the-grove-banner__text--second {
    opacity: 0;
    z-index: $z-lvl-10;
}

.the-grove-banner__text--third {
    opacity: 0;
    z-index: $z-lvl-12;
    height: 100vh;
}

.the-grove-banner__text__final {
    height: 300vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    @include bp (large) {
        height: 330vh;
    }

    @include bp (full) {
        height: 300vh;
    }
}

.the-grove-banner__images {
    height: 200vh;
    width: 100%;
    position: relative;
    opacity: 0;
    z-index: $z-lvl-11;
}

.the-grove-banner__images--active {
    opacity: 1;
    transition: $default-transition;
}

.the-grove-banner__paralax {
    height: 100%;
    margin-bottom: 180px;
    
    @include bp (medium) {
        width: 100%;
        margin-bottom: 90px;
    }
}

.the-grove-banner__paralax--right {
    background-position: 0 0;
    justify-content: flex-end;
    width: 86%;
    margin-left: auto;

    @include bp(large) {
        width: 50%;
    }

    img {
        width: 100%;
        object-fit: cover;
    }
}

.the-grove-banner__paralax--left {

    @include bp(large) {
        width: 30%;
        margin-left: 10%;
    }

    img {
        width: 100%;
        object-fit: cover;
    }
}

.the-grove-banner__paralax--right-second {
    margin-left: auto;

    @include bp(large) {
        width: 42%;
        margin-right: 3%;
    }

    
    img {
        width: 100%;
        object-fit: cover;
    }
}