// ==========================================================================
// #GLOBAL
// ==========================================================================
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-radius: 15px !default;
$global-opacity: 0.4;
$default-transition: all 200ms linear !default;
$menu-transition: opacity 200ms linear !default;

/* Fonts
   ========================================================================== */

$font-family-base:    "craw-modern-urw", sans-serif !default;
$font-family-text:    "pragmatica", serif !default;
$font-family-bg:      "bickham-script-pro-3", sans-serif !default;

/* Breakpoints
   ========================================================================== */

$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1048px,
  xlarge: 1280px,
  full: 1600px,
  xfull: 1900px,
  retina: 2500px,
);

/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-yellow: #F7E7C4;
$color-yellow-hover: #FFD076;
$color-primary: #535D58;
$color-sage-green: #AAB4AC;
$color-dark: #393939;
$color-gray: #707070;
$color-white: #FFFFFF;
$color-black: #000;
$color-black-1: #1E2220;

// Text
$color-text-white: $color-white;
$color-text: $color-primary;
$color-text-yellow: $color-yellow;
$color-text-sage-green: $color-sage-green;
$color-heading-yellow: $color-yellow;
$color-heading: $color-primary;

// Background
$color-bg-yellow: $color-yellow;
$color-bg-sage-green: $color-sage-green;
$color-bg-dark: $color-dark;
$color-bg-white: $color-white;
$color-bg-primary: $color-primary;
$color-bg-black: $color-black;
$color-bg-black-1: $color-black-1;

// Borders
$color-border: $color-gray;
$color-border-yellow: $color-yellow;
$color-border-sage-green: $color-sage-green;

// Z-Index
$z-lvl-1: 100;
$z-lvl-2: 200;
$z-lvl-3: 300;
$z-lvl-4: 400;
$z-lvl-5: 500;
$z-lvl-6: 600;
$z-lvl-7: 700;
$z-lvl-8: 800;
$z-lvl-9: 900;
$z-lvl-10: 1000;
$z-lvl-11: 1100;
$z-lvl-12: 1200;
$z-lvl-13: 1300;
$z-lvl-14: 1400;
$z-lvl-15: 1500;


// Font Family
$text-family: $font-family-text;
$heading-family: $font-family-base;
