/* ==========================================================================
   #DISPLAY
   ========================================================================== */

.d-mobile {
  display: block;

  @include bp(large) {
    display: none;
  }
}

.d-medium {
  display: none;

  @include bp(medium) {
    display: block;
  }
}

.d-desktop {
  display: none;

  @include bp(large) {
    display: block;
  }
}

.d-desktop-flex {
  display: none;

  @include bp(large) {
    display: flex;
  }
}

.opacity-zero {
  opacity: 0;
}
